.cities {
  display: grid;

  color: #fff;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 10px 20px;
  grid-auto-flow: column;
  margin-bottom: 30px;
}

.cities__item {
  position: relative;

  overflow: hidden;
  flex-basis: 0 0 50%;

  box-sizing: border-box;
  padding: 10px 0;

  cursor: pointer;
  transition: all 150ms;
}

.cities__date {
  position: absolute;
  top: 50%;

  width: 70px;

  transform: translateY(-50%);
  /* text-align: right; */

  color: gold;

  font-size: 15px;
}

.cities__content {
  padding-left: 80px;
}

.cities__name {
  display: block;

  transition: all 150ms;

  font-size: 20px;
}

.cities__links {
  position: absolute;
  top: 50px;

  display: flex;

  transition: all 200ms;
}

.cities__link {
  width: 35px;
  height: 35px;
  margin-right: 20px;

  transition: all 200ms;

  fill: gold;
}

.cities__link .icon {
  width: 100%;
  height: 100%;
}

.cities__no-links {
  margin-top: 8px;

  text-transform: uppercase;

  /* color: rgb(199, 88, 70); */
  color: rgb(194, 24, 7);

  font-size: 15px;
  font-weight: normal;
}

@media (hover: hover) {
  .cities__link:hover {
    fill: rgb(194, 24, 7);
  }

  .cities__item:hover .cities__name {
    transform: translateY(-200%);
  }

  .cities__item:hover .cities__links {
    transform: translateY(-45px);
  }
}

@media (hover: none) {
  .cities__item--active .cities__name {
    transform: translateY(-200%);
  }

  .cities__item--active .cities__links {
    transform: translateY(-45px);
  }
}

@media (max-width: 768px) {
  .cities {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 0;
  }
}

@media (max-width: 480px) {
  .cities__name {
    font-size: 17px;
  }

  .cities__content {
    padding-left: 60px;
  }

  .cities__date {
    width: 55px;

    font-size: 12px;
  }

  .cities__no-links {
    font-size: 13px;
  }
}
