.app {
  width: 100%;

  font-family: 'Druk';
}

.app__wrapper {
  position: relative;

  overflow-x: hidden;

  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 50px 15px 30px;
}

.app__content {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .app__wrapper {
    padding: 35px 15px 20px;
  }
}

@media (max-width: 480px) {
  .app__wrapper {
    padding: 30px 15px 15px;
  }
}
