.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .gallery {
    grid-gap: 10px;
  }
}
